* {
    margin: 0;
    padding: 0;
    color: white;
}

:root {
    --purple: #6c00ff;
    --purple2: #a200ff;
    --background: rgb(22, 22, 28);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

tr:nth-child(even) {
    background-color: #ffffff04;
}

td {
    padding: .2em;
}

pre > code:not(.no-code) {
    display: block;
    padding: 1em;
    line-height: 1.5;
}

code.no-code > pre {
    display: inline;
    font-size: .7em;
    margin-left: .7em;
}

code:not(.no-code) {
    background: rgb(44, 44, 54);
    padding: .1em .4em;
    border-radius: 4px;
    font-family: monospace;
}

nav a {
    transition: color 0.2s;

    &:hover {
        color: #aaa;
    }
}

footer {
    display: flex;
    gap: 1em;
    
    & a {
        flex: 1;
        padding: 1em;
        text-decoration: none;
        border: 1px solid rgb(44, 44, 54);
        border-radius: 4px;
        transition: border 0.4s;

        &:hover {
            border: 1px solid transparent;
        }
    }
}

ul {
    margin: .5em 2em;
    > li { margin: .2em 0; }
}